.prod-hide {
 	/*display: none!important;*/
 }

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
	margin: 0px auto;
	padding: 20px 0px 80px;
}

.team .img-holder {
	width: 200px;
	height: 220px;
	margin: 0 auto;
    line-height: 220px;
}

.team img {
	width: 200px;
	height: auto;
}

.team #leander {
	width: 150px;
}

.team #clemens-g {
	width: 160px;
}

.team #clemens-f {
	width: 160px;
}

.team #tt-camille {
	width: 250px;
	margin-left: -25px;
}

.team #lets-go {
	width: 300px;
	margin-left: -50px;
}

.margin-20 {
	margin: 20px;
}

.margin-30-10 {
	margin: 30px 10px;
}

.pull-left.margin-10-0 {
margin: 10px 10px 10px 0px;
}

.pull-right.margin-10-0 {
margin: 10px 0 10px 10px;
}

.text-justify {
	text-align: justify;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px;
}

.instructions {
	padding-bottom: 10px;
}

.instructions dd {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 120px;
}

.instructions dt {
 width: 100px;
}

.col-lg-6 {
	text-align: center;
}

#tracking-box {
	padding-bottom: 80px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
}

.custom_header {
	max-width: 620px; 
	padding-bottom: 20px; 
	margin: auto;
	text-align: center;
}

.container .jumbotron {
	padding: 30px;
}

.jumbo-l {
	padding-left: 0px;
	padding-right: 5px;
}

.jumbo-r {
	padding-left: 5px;
	padding-right: 0px;
}

#fs-tracking-box {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	
	display: none;
}

#fs-tracking-box img{
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}

#pres-not-found {
	padding: 100px 0px;
	width: 100%;
	display: none;
	text-align: center;
}

#tracking-box .slide-box {
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 4px;
	position: relative;
	display: none;
}

#tracking-box .slide-box img{
	width: 100%;
	height: auto;
	display: inline-block;
}

#tracking-box .slide-nav-btns {
	padding-bottom: 10px;
}

#tracking-box #btn-track {
	width: 100px;
}

#fs-tracking-box #fs-btn-track {
	top: 10px;
	left: 50%;
	margin-left: -75px;
	position: absolute;
	z-index: 9;
	width: 150px;
	height: 50px;
	line-height: 50px;
}

#fs-tracking-box #fs-prev-slide {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -50px;
	z-index: 9;
	width: 50px;
	height: 100px;
	line-height: 100px;
	font-size:30px;
}

#fs-tracking-box #fs-exit {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 9;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size:30px;
	background: none;
}

#fs-tracking-box #fs-next-slide{
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -50px;
	z-index: 9;
	width: 50px;
	height: 100px;
	line-height: 100px;
	font-size:30px;
}

#download-pres {
	display: none;
}

.fs-btn {
	font-weight: bold;
	font-size: 20px;	
	background: none;
	border: none;
	background-color: rgba(0,0,0,0.2);
	color: #eee;
	padding: 0;
	margin: 0;	
	border-radius: 5px;
}

.fs-btn:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.6);	
}

.fs-btn[disabled="disabled"] {
    display: none;
}

#fs-btn[disabled="disabled"] {
    display: none;
}

#fs-btn-track[disabled="disabled"] {
    display: block;
    background: none;
    color: #aaa;
}

#fs-btn-track[disabled="disabled"]:hover {
    background: none;
    color: #aaa;
}

.alt-text {
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color: #888;
}

#fp-code-input {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

a.img-link, a.img-link:hover, a.img-link:active {
	text-decoration: none;
	display: inline-block;
}

.header h3:hover {
	cursor: pointer;
}

/* Medium Devices, Desktops */
@media (max-width: 992px) {
	.github-ribbon {
		display: none;
	}
}

.example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0px 0px 15px;
	border-style: solid;
	border-color: #DDD;
	border-width: 1px;
	border-radius: 4px;
}

.example:after {
position: absolute;
top: 15px;
left: 15px;
font-size: 12px;
font-weight: 700;
color: #959595;
text-transform: uppercase;
letter-spacing: 1px;
content: "Example";
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  cursor: default;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: -80px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width : 480px) {
.prod-hide {
	display: none!important;
}
#fs-tracking-box #fs-btn-track {
	margin-left: -60px;
	width: 120px;
	height: 30px;
	line-height: 30px;
}
#fs-tracking-box #fs-prev-slide {
	margin-top: -30px;
	width: 30px;
	height: 60px;
	line-height: 60px;
}
#fs-tracking-box #fs-exit {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
#fs-tracking-box #fs-next-slide{
	margin-top: -30px;
	width: 30px;
	height: 60px;
	line-height: 60px;
}
}