<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="dbInfo">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Optimize mobile viewport -->

		<title>Database Information</title>

		<!-- SCROLLS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/admin.css">

	</head>

	<body ng-controller='mainController'>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">slideTracker</a>
				</div>
				<!--<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Sign In</a>
						</li>
					</ul>
					<form class="navbar-form navbar-right">
						<input class="form-control" placeholder="Search..." type="text">
					</form>
				</div>-->
			</div>
		</nav>

		<div class="container-fluid">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="/admin/overview">Overview <span class="sr-only">(current)</span></a>
					</li>
					<li>
						<a href="/admin/analytics">Analytics</a>
					</li>
					<li>
						<a href="/admin/export">Export Log CSV</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Dashboard</h1>
				<div class="row placeholders">
					<div ng-cloak class="col-xs-6 col-sm-3">
						<h4><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Total: {{ nPresTot }}</h4>						
						<h4><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Current: {{ nPres }}</h4>
						<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Total: {{ nClientsTot }}</h4>
						<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Current: {{ nClients }}</h4>
						<h4><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Data: {{ nMB }} MB</h4>
					</div>
					<div class="col-xs-6 col-sm-3 placeholder">
						<img id="pie-chart" class="img-responsive">
						<h4>Current Presentations</h4>
						<span class="text-muted">Shows how many active/inactive presentations there currently are.</span>
					</div>
					<div class="col-xs-6 col-sm-6 placeholder">
						<img id="curve-chart" class="img-responsive">
						<h4>Total Activity</h4>
						<span class="text-muted">Presentations over time.</span>
					</div>
				</div>

				<h2 class="sub-header">Full Records</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>pres_ID</th>
								<th>creator</th>
								<th>n_slides</th>
								<th>cur_slide</th>
								<th>file_size</th>
								<th>clients</th>
								<th>active</th>
								<th>download</th>
								<th><a href="" ng-click="predicate = '-updated'; reverse=!reverse">updated</a></th>
							</tr>
						</thead>
						<tbody ng-cloak>
							<tr ng-repeat="PresRec in fullRecord | orderBy:predicate:reverse">
								<td><a href="/track/{{ PresRec.pres_ID }}">{{ PresRec.pres_ID }}</a></td>
								<td>{{ PresRec.creator }}</td>
								<td>{{ PresRec.n_slides }}</td>
								<td>{{ PresRec.cur_slide }}</td>
								<td>{{ Math.round(PresRec.file_size/1000000*10)/10+' MB' }}</td>
								<td>{{ PresRec.clients }}</td>
								<td>{{ PresRec.active }}</td>
								<td>{{ PresRec.download }}</td>
								<td>{{ PresRec.updated | date : "MM/dd/yyyy 'at' h:mma" }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- SPELLS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->

		<script>
			var dbInfo = angular.module('dbInfo', []);
			dbInfo.controller('mainController', function($scope, $http) {
				
				//inject math
				$scope.Math = window.Math;

				$http.get('/admin/get_db_entries').success(function(data) {

					// count presentations in database
					$scope.nPres = data.length;

					// count active presentations
					var nActives = $.grep(data, function(element, index) {
						return element.active == true;
					});
					$scope.nPresAct = nActives.length;
					
					drawChart1([$scope.nPresAct,$scope.nPres-$scope.nPresAct])
					
					// count total number of clients
					var nClients = $.grep(data, function(element, index) {
						return element.clients;
					});
					var totalCl = 0;
					$.each(nClients,function() {
					    totalCl += this.clients;
					});
					$scope.nClients = totalCl;

					// get total storage
					var nMB = $.grep(data, function(element, index) {
						return element.file_size;
					});
					var totalMB = 0;
					$.each(nMB,function() {
					    totalMB += this.file_size;
					});
					$scope.nMB = totalMB;
					
	
					// save full output
					$scope.fullRecord = data;

					// standard sort by
					$scope.predicate = '-updated';

				}).error(function(data) {
					console.log('Error: ' + data);
				});

				$http.get('/admin/get_log_entries').success(function(logs) {

					// count presentations in database
					$scope.nPresTot = logs.length;
					
					var pres_data = [['Date', 'Presentations'],['1-1',0]];
					var tot_logs = 0;
					var date_log = new Date();
					var day = 1;
					var month = 1;
					logs.forEach(function(logP) {				
						date_log = new Date(logP.created);					
						if(month == date_log.getMonth()+1 && day == date_log.getDate()){
							tot_logs += 1;
						}else{
							pres_data.push([month+'-'+day, tot_logs]);
							tot_logs += 1;
							month = date_log.getMonth()+1;
							day = date_log.getDate();
						}				
					});

					drawChart2(pres_data)
					
					// count total number of clients
					var nClientsTot = $.grep(logs, function(element, index) {
						return element.clients;
					});
					var totalClTot = 0;
					$.each(nClientsTot,function() {
					    totalClTot += this.clients;
					});
					$scope.nClientsTot = totalClTot;


				}).error(function(data) {
					console.log('Error: ' + data);
				});

			})

		</script>
		
	    <!--Load the AJAX API-->
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	
	      // Load the Visualization API and the piechart package.
	      google.load('visualization', '1.0', {'packages':['corechart']});
	
	      // Set a callback to run when the Google Visualization API is loaded.
	      //google.setOnLoadCallback(drawChart);
	
	      // Callback that creates and populates a data table,
	      // instantiates the pie chart, passes in the data and
	      // draws it.
	      function drawChart1(data) {
	
	        // Create the data table.
	        var data_pie = new google.visualization.DataTable();
	        data_pie.addColumn('string', 'Status');
	        data_pie.addColumn('number', 'Number');
	        data_pie.addRows([
	        	['Inactive', data[1]],
	         	['Active', data[0]]
	        ]);
	
	        // Set chart options
	        var options_pie = {'width':200,
	                       'height':200,
	                       pieSliceTextStyle:{fontSize: '15'},
	                       pieSliceText: 'value', //'label'
	                       legend:{position:'none'}};
	
	        // Instantiate and draw our chart, passing in some options.
	        var chart_pie = new google.visualization.PieChart(document.getElementById('pie-chart'));
	        chart_pie.draw(data_pie, options_pie);
	     }
	     
	     function drawChart2(data) {   
	        // Create the data table.
	        var data_line = google.visualization.arrayToDataTable(data);
	
	        // Set chart options
	        var options_line = {'width':400,
	                       'height':200,
	                       legend: { position: 'none' }};
	
	        // Instantiate and draw our chart, passing in some options.
	        var chart_line = new google.visualization.LineChart(document.getElementById('curve-chart'));
	        chart_line.draw(data_line, options_line);
	        
	      }
	    </script>


	</body>
</html>

